@font-face {
    font-family: 'LXGWWenKaiGB';
    src: url('../font/LXGWWenKaiGB-Regular.ttf');
}
h1{
    color:red;
    text-align:center;
}

*{
    font-family: 'LXGWWenKaiGB';
}

table{
    width:100%;
    border-collapse:collapse;
    margin-top: 20px;

}

th,td{
    border:1px solid greenyellow;
    text-align:center;
    padding:8px;
}
th{
    background-color: greenyellow;
}
button{
    margin-left: 5px;
}
